body {
    background-color: #eeeeee;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    height: 0px;
    border-color: black;
    border-width: 5px;
}

h1{
    color:#00adb5;
}

h3{
    color:#ff5722;
}